/.idea
/.htaccess
/.htpasswd
/robots.txt
#/urlrewrite.php
/upload
/upload/
/sitemap*.xml
/robots.txt
/bitrix
/bitrix/
tcp:/
/local/modules/top.setting/images/
*.log
*.sql
*.txt
*.xml
*.dt
#menu

test.php
phpinfo31337.php

#################
Thumbs.db
.DS_Store
._.DS_Store

#исключения
!/local/php_interface/migrations/**/*.xml